{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card p-5 border-0 shadow-sm">
      <div class="d-flex align-items-center mb-5 border-bottom pb-4">
        <div
          class="bg-primary bg-opacity-10 p-3 rounded-circle me-3 text-primary"
        >
          <i class="bi bi-person-plus fs-4"></i>
        </div>
        <div>
          <h2 class="h5 mb-0 fw-semibold">Cadastrar Novo Paciente</h2>
          <p class="text-muted small mb-0">
            Preencha os dados pessoais para abrir a ficha
          </p>
        </div>
      </div>

      <form id="form-paciente">
        <div class="mb-3">
          <label for="nome_paciente" class="form-label text-muted small fw-bold"
            >Nome Completo</label
          >
          <input
            type="text"
            class="form-control form-control-sm"
            id="nome_paciente"
            name="nome_paciente"
            placeholder="Ex: Maria Silva"
            required
          />
        </div>

        <div class="row g-3">
          <div class="col-md-6">
            <label for="cpf" class="form-label text-muted small fw-bold"
              >CPF</label
            >
            <input
              type="text"
              class="form-control form-control-sm"
              id="cpf"
              name="cpf"
              placeholder="000.000.000-00"
              required
            />
            <div class="form-text small text-muted">
              Apenas números ou com pontuação.
            </div>
          </div>
          <div class="col-md-6">
            <label
              for="data_nascimento"
              class="form-label text-muted small fw-bold"
              >Data de Nascimento</label
            >
            <input
              type="date"
              class="form-control form-control-sm"
              id="data_nascimento"
              name="data_nascimento"
              required
            />
          </div>
        </div>

        <div class="mb-3 mt-4">
          <label for="endereco" class="form-label text-muted small fw-bold"
            >Endereço Completo</label
          >
          <textarea
            class="form-control form-control-sm"
            id="endereco"
            name="endereco"
            rows="3"
            placeholder="Rua, Número, Bairro, Cidade..."
            required
          ></textarea>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-5 pt-3 border-top">
          <a href="/ui/pacientes" class="btn btn-sm btn-light text-muted"
            >Cancelar</a
          >
          <button type="submit" class="btn btn-sm btn-primary px-4">
            Salvar Paciente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/add_paciente.js"></script>
{% endblock %}
